---
import Layout from '../layouts/Layout.astro';
import Nav from '../layouts/Nav.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title='Zinzo | Payment Gateway' description='Zinzo integration documentation.'>
	<Nav />
    <p style='display: flex; align-self: center; justify-content: center; color: white; margin: 200px 10px 200px 10px; font-size: 24px;'>Documentation not yet released.</p>
	<Footer />
</Layout>

<style>
	body {
		background-color: black;
		margin: 0;
		padding: 0;
	}
    body * {
        font-family: 'Inter', sans-serif;
    }
</style>
