<div id='dashboard'>
    <img src='Dashboard.png'/>
</div>

<style>
    @media (max-width: 1400px) {
        #dashboard img {
            height: auto;
            width: 80vw;
        }
    }
    #dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
</style>