<div>
    <label>Support email</label>
    <p>support@zinzo.dev</p>
</div>

<style>
    @media (max-width: 1000px) {
        div {
            text-align: center !important;
            margin: 100px 10px 100px 10px !important;
            justify-content: center !important;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 100px 0px 100px 350px;
    }
    div label {
		font-family: 'Inter', sans-serif;
        font-size: 32px;
        color: white;
    }
    div p {
		font-family: 'Inter', sans-serif;
        font-size: 20px;
        color: #B6B2B7;
    }
</style>