---
import LogoIcon from '/Logo.svg';
---
<section>
    <img src={LogoIcon} alt='Zinzo Logo' style="height: 150px;"/>
    <p>Zinzo was developed and designed in 2022. Built by David Mudriy with a goal
        of processing financial transactions.
    </p>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        gap: 100px;
    }
    section p {
        margin: 15px;
        color: white;
		font-family: 'Inter', sans-serif;
        font-size: 24px;
    }
</style>