---
---
<div class='LicenseContainer'>
	<h4>Let us handle your transactions</h4>
	<h4>✓ <a class='greenText'>PCI Licensed</a></h4>
</div>

<style>
	@media (max-width: 500px) {
		.LicenseContainer h4 {
			font-size: 24px !important;
		}
	}
	.LicenseContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: 'Inter', sans-serif;
		margin-top: 350px;

	}
	.LicenseContainer h4 {
		color: white;
		font-size: 36px;
		margin: 15px;
	}
	.greenText {
		color: #86FC72;
	}
</style>
