---
---
<footer>
    <section>
        <h4>Support</h4>
        <h5>
            <a href='/'>
                FAQs
            </a>
        </h5>
    </section>
    <section>
        <h4>Contact Us</h4>
        <h5>
            <a href='/'>
                support@zinzo.dev
            </a>
        </h5>
    </section>
    <section>
        <h4>More</h4>
        <h5>
            <a href='/about-us'>
                About Us
            </a>
        </h5>
        <h5>
            <a href='/'>
                Support
            </a>
        </h5>
        <h5>
            <a href='/'>
                Pricing
            </a>
        </h5>
        <h5>
            <a href='/'>
                Documentation
            </a>
        </h5>
    </section>
</footer>
<div class='companyText'>
    <h5>Zinzo 2022</h5>
</div>


<style>
    footer {
        border-top: 1px solid white;
        margin-top: 350px;
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 50px;
    }
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
    }
    section h4 {
        font-size: 24px;
		font-family: 'Inter', sans-serif;
        color: white;
        margin: 50px 0 5px 0;
    }
    section h5 {
        margin: 15px;
    }
    h5 a {
        text-decoration: none;
		font-family: 'Inter', sans-serif;
        color: #B9B9B9;
        font-size: 20px;
    }
    .companyText {
        display: flex;
        justify-content: center;
        color: #686868;
		font-family: 'Inter', sans-serif;
        font-size: 24px;
    }
    @media (max-width: 1000px) {
        section {
            width: 100%;
            margin: 0;
        }
        footer {
            gap: 75px;
        }
        h5 {
            margin: 0;
        }
    }
</style>
